In [12]:
# importamos las librerías con las que vamos a trabajar
# !pip install psycopg2==2.9.9
# !pip install psycopg2-binary==2.9.9
# !pip install sqlalchemy
# Trabajar con bases de datos y python
# -----------------------------------------------------------------------
import psycopg2
from psycopg2 import OperationalError, errorcodes, errors
from sqlalchemy import create_engine

# Trabajar con DataFrames
# -----------------------------------------------------------------------
import pandas as pd
pd.options.display.max_columns = None

In [13]:
df = pd.read_csv("CSVs/Supermercados_limpio.csv")

In [14]:
df.columns

Index(['Nombre_producto', 'Fecha', 'Precio', 'Supermercado', 'Categoría',
       'Variación', 'Variación_porcentual'],
      dtype='object')

In [15]:
#Conexión a postgres con sqlalchemy
conn_string = "postgresql+psycopg2://postgres:admin@localhost:5432/proyecto4"
engine = create_engine(conn_string)

In [16]:
#Conexion a postgres con psycopg2 para usar los cursores
try:
    conexion = psycopg2.connect(
        database = "proyecto4",
        user = "postgres",
        password = "admin",
        host = "localhost",
        port = "5432"

)
except OperationalError:
    print("la contraseña es errónea")

In [17]:

#Creamos lo que será nuestra tabla de productos
df_productos = df[['Nombre_producto', 'Categoría']].drop_duplicates()
df_productos.rename(columns = {"Nombre_producto":"nombre"},inplace= True)
df_productos.rename(columns = {"Categoría": "categoria"}, inplace= True)

#Creamos la tabla "Supermercados"
df_supermercados = df['Supermercado'].drop_duplicates().reset_index()
df_supermercados.rename(columns={"index":"id_supermercado"}, inplace = True)
df_supermercados.rename(columns={"Supermercado":"supermercado"}, inplace = True)

#Creamos la tabla precios:
df_precios = df[['Nombre_producto', 'Fecha', 'Precio', 'Supermercado', 'Categoría',
       'Variación']]

In [18]:
df_supermercados

   id_supermercado supermercado
0                0      alcampo
1            33001    carrefour
2            51362          dia
3            65392       eroski
4            90187     hipercor
5           131369    mercadona

In [19]:
# df_precios.to_csv("df_precios.csv", index = False)
# df_productos.to_csv("df_productos.csv", index = False)
# df_supermercados.to_csv("df_supermercados.csv", index = False)

In [20]:
df_supermercados

   id_supermercado supermercado
0                0      alcampo
1            33001    carrefour
2            51362          dia
3            65392       eroski
4            90187     hipercor
5           131369    mercadona

In [25]:
try:
    cursor = conexion.cursor()
    # Crear las tablas
    query_crear_productos = """
        DROP TABLE IF EXISTS productos;
        CREATE TABLE IF NOT EXISTS productos (
            id_producto SERIAL PRIMARY KEY,
            nombre VARCHAR(255) NOT NULL,
            categoria VARCHAR(100) NOT NULL
        );
    """

    query_crear_supermercados = """
        DROP TABLE IF EXISTS supermercados;
        CREATE TABLE IF NOT EXISTS supermercados (
            id_supermercado PRIMARY KEY,
            supermercado VARCHAR(100) NOT NULL UNIQUE
        );
    """

    query_crear_precios = """
        DROP TABLE IF EXISTS precios;
        CREATE TABLE IF NOT EXISTS precios (
            id_precio SERIAL PRIMARY KEY,
            producto_id INT NOT NULL,
            supermercado_id INT NOT NULL,
            fecha DATE NOT NULL,
            precio DECIMAL(10, 2) NOT NULL,
            variacion DECIMAL(10, 2),

            FOREIGN KEY (producto_id) REFERENCES productos(id_producto) ON DELETE CASCADE,
            FOREIGN KEY (supermercado_id) REFERENCES supermercados(id_supermercado) ON DELETE CASCADE
      );
    """

# Ejecutar las consultas para crear las tablas
    cursor.execute(query_crear_productos)
    cursor.execute(query_crear_supermercados)
    cursor.execute(query_crear_precios)
    conexion.commit()

except Exception as e:
    print("Ocurrió un error:", e)
    conexion.rollback()

Ocurrió un error: no se puede eliminar tabla productos porque otros objetos dependen de él
DETAIL:  restricción «precios_producto_id_fkey» en tabla precios depende de tabla productos
HINT:  Use DROP ... CASCADE para eliminar además los objetos dependientes.

In [26]:
# Crear listas de tuplas a partir de los dataframes
try:
    values_productos = [tuple(row) for row in df_productos.values]
    values_supermercados = [tuple(row) for row in df_supermercados.values]
    values_precios = [tuple(row) for row in df_precios.values]

    # Definir las consultas de inserción
    query_insertar_productos = """
    INSERT INTO productos (id_producto, nombre, categoria)
    VALUES (%s, %s, %s);
    """

    query_insertar_supermercados = """
    INSERT INTO supermercados (id_supermercado, supermercado)
    VALUES (%s, %s);
    """

    query_insertar_precios = """ 
    INSERT INTO precios (id_precio, producto_id, supermercado_id, fecha, precio, variacion)
    VALUES (%s, %s, %s, %s, %s, %s);
    """

# Ejecutar las inserciones usando executemany para mayor eficiencia
    cursor.executemany(query_insertar_productos, values_productos)
    cursor.executemany(query_insertar_supermercados, values_supermercados)
    cursor.executemany(query_insertar_precios, values_precios)

# Confirmar cambios
    conexion.commit()

# Cerrar el cursor y la conexión
    cursor.close()
    conexion.close()

except Exception as e:
    print("Ocurrió un error:", e)
    conexion.rollback()

Ocurrió un error: tuple index out of range